<?xml version='1.0' encoding='utf-8'?>
<widget id="com.piyiku.test.admob" version="1.0.0">
  <name>HelloWorld</name>
  <description>
   A sample Tabris.js application.
  </description>
  <author email="dev@tabrisjs.com" href="https://tabrisjs.com">
   Tabris.js Team
  </author>
   <gap:plugin name="com.google.cordova.admob" source="plugins.cordova.io" />
</widget>